.summary-details-widget {
  overflow: scroll;
}
.endpoint-details-widget td {
  padding-bottom: 16px;
  padding-top: 16px;
  padding-left: 7px;
  border-bottom: 1px solid #f2f2f2;
}

table {
  width: 100%;
  border-collapse: collapse;
}
