/* table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  color: #999999;
}

tr:hover {
  background-color: rgb(187, 176, 176);
} */

table{
    border-collapse:collapse;
    table-layout: fixed;
    width: 100%;
    font-family: Helvetica, sans-serif;
}

.tableTitle{
    color: grey;
    font-size: 12px;
    padding: 4px 0px;
    font-weight: 600;
    width: 20%;
    word-wrap: break-word;
}

.tableData{
    font-size: 10px;
    color: black;
    padding: 14px 0px;
    word-wrap: break-word;
}

.tableRow{
    border-bottom: 1px solid rgb(226, 226, 226);
}

.tableRow:last-child{
    border: 0px;
}

.alignLeft{
    text-align: left;
    width: 80%;
}

.alignRight{
    text-align: right;
    width: 20%;
}